*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #182933;
  color: #fff;
  overflow-x: hidden;
}

/* HEADER */
.header_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 0 30px;
  background-color: black;
}
.logo img{
  width: 120px;
}

#select_genre{
  height: 30px;
  padding-left: 5px;
}

.search_bar input{
  width: 200px;
  height: 30px;
  padding-left: 5px;
}
.search_bar button{
  height: 30px;
  width: 50px;
}
/* /HEADER */

/* MAIN */

/* TEMPLATE results conainer */
#container_results{
  padding: 25px;
}
.row_results{
  position: relative;
  margin-bottom: 20px;
}
.cards-list{
  display: flex;
  flex-direction: row;
  width: 100%;
  list-style: none;
}
.type_label{
  text-align: left;
  padding: 10px;
}

/* SCROLL */
.angles{
  display: flex;
  align-items: center;
  width: 80px;
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
.prev {
  left: -25px;
}

.next {
  right: -25px;
  justify-content: flex-end;
}

.angles i{
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 30px;
  border-radius: 5px;
  cursor: pointer;
}
.angles i.fa-angle-left{
  position: relative;
  left: -55px;
  transition: 1s;
}
.prev:hover i.fa-angle-left{
  left: 0;
}
.angles i.fa-angle-right{
  position: relative;
  right: -55px;
  transition: 1s;
}
.next:hover i.fa-angle-right{
  right: 0;
}


/* template CARD */
.result{
  flex: none;
  position: relative;
  width: 185px;
  min-height: 278px;
  margin: 0 5px;
  border-radius: 5px;
  overflow: hidden;
}
.card{
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: #0b1418;
  -webkit-box-shadow: 0px 0px 5px 2px #000000;
  box-shadow: 0px 0px 5px 2px #000000;
  transition: transform 0.8s;
  cursor: pointer;
}
.result:hover {
  overflow:visible;
}
.result:hover .card{
  transform: scale(1.2);
  z-index: 1;
}

/* POSTER */
.result_img{
  width: 185px;
  height: 278px;
}
.result_img img, .cover_no_poster{
  object-fit: cover;
  border-radius: 5px;
}
.cover_no_poster{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 185px;
  height: 278px;
  padding: 0 15px;
  background-color: #000;
  text-align: center;
  font-size: 15px;
  background: #182933;
  background: -moz-radial-gradient(center, #182933 0%, #182933 0%, #000000 100%);
  background: -webkit-radial-gradient(center, #182933 0%, #182933 0%, #000000 100%);
  background: radial-gradient(ellipse at center, #182933 0%, #182933 0%, #000000 100%);
}

/* INFO CARDS */
.result_text{
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  padding: 0px 5px 5px 5px;
}
/* type*/
.type{
  width: 100%;
  margin: 3px 0;
  padding: 2px;
  border-radius: 5px;
}
.type.movie{
  background-color: yellow;
  color: #000;
}
.type.tv{
  background-color: purple;
}

/* h1 result text */
.result_text h1{
  font-size: 15px;
}

/* TEMPLATE STARS */
.star_list{
  display: flex;
  list-style: none;
}
.star i{
  font-size: 12px;
  color: yellow;
}

/* flag */
.original_lang strong, .genres strong, .cast strong{
  font-size: 12px;
  font-weight: bold;
}
.original_lang, .genres, .cast{
  font-size: 10px;
  font-weight: lighter;
}
.flag_img {
  width: 15px;
}


/* TEMPLATE no results */
.no_results{
  margin: 20px 0;
}
.no_result_text{
  width: 50%;
  margin: auto;
}
.no_result_text p{
  margin: 15px 0;
}
.list_solutions{
  padding-inline-start: 40px;
}

/* FOOTER */
  footer{
    width: 100%;
    height: 200px;
  }
