*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.search_bar{
  width: 100%;
  background-color: black;
  height: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search_bar input{
  width: 200px;
  height: 30px;
}
.search_bar button{
  height: 30px;
  width: 50px;
}

#results-list{
  padding: 20px;
  list-style: none;
}


.flag_img {
  width: 20px;
}

.result{
  margin-bottom: 20px;
}


/* TEMPLATE STARS */


.star_list{
  display: flex;
  list-style: none;
}
.star i{
  color: yellow;
}

.type{
  width: 185px;
}
.type.movies{
  background-color: yellow;
}
.type.series{
  background-color: purple;
}
